<header class="fixed-top border-bottom text-center py-3" style="background-color: silver;">
  <ul class="nav nav-links">
    <li class="nav-link">
      <a href="/home" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">Складские остатки</a>
    </li>
    <li class="nav-link">
      <a href="#" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">Создать заказ</a>
    </li>
    <li class="nav-link ms-auto me-3">
      <a href="/logout" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">Выйти</a>
    </li>
  </ul>
</header>
