<header class="fixed-top border-bottom text-center py-3" style="background-color: silver;">
  <ul class="nav nav-links">
    <li class="nav-link">
      <a href="/add_product" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">Добавить товар</a>
    </li>
    <li class="nav-link">
      <a href="/products" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">Складские остатки</a>
    </li>
    <li class="nav-link">
      <a href="/add_order" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">Создать заказ</a>
    </li>
    <li class="nav-link">
      <a href="/orders" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">Все заказы</a>
    </li>
    <li class="nav-link">
      <a href="/add_customer" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">Создать клиента</a>
    </li>
    <li class="nav-link ms-auto me-3">
      <a href="/logout" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">Выйти</a>
    </li>
  </ul>
</header>
