{% extends 'base.html' %}
{% block content %}
  <main class="form-signin m-auto">
    <form class="text-center" method="post" action="{{ url_for('register') }}">
      <h1 class="h3 mb-3 fw-normal">Зарегистрироваться</h1>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" name="username" />
        <label for="floatingInput">Имя пользователя</label>
      </div>
      <div class="form-floating mt-3">
        <input type="password" class="form-control" id="floatingPassword" name="password" />
        <label for="floatingPassword">Пароль. Не менее 8 символов.</label>
      </div>
      <button class="btn btn-primary mt-3 py-2" type="submit">Создать</button>
      <div class="form-floating mt-3">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
              {% for message in messages %}
                <div style="color: red">{{ message }}</div>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </div>
    </form>
  </main>
{% endblock %}
